window {
  width: 400px;
  border-radius: 10px;
}

inputbar {
  background-color: #1e1e2e;
  padding: 10px;
}

entry {
  placeholder: "•••••••";
}

prompt {
  text-color: #f38ba8;
  padding: 10px;
  font-size: 18px;
}
